body{
  background-color: #457B9D;
}

h1{
  font-family: 'Love Ya Like A Sister', cursive;
  color: #F1FAEE;
  font-size: 5em;
}

.card-img-top {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  }

.img-fluid  {
  width: 100%;
  height: 25vh;
  object-fit:contain;
}

.card-title{
  font-family: 'Otomanopee One', sans-serif;
  font-size: x-large;
}

.card-text  {
  font-family: 'Ubuntu', sans-serif;
}

.card {
  border-width: 0.5em;
  border-style: solid;
  border-color: #E63946;
  border-radius: 25px;
  padding-left: 5px;
}

.btn  {
  background-color: #1D3557;
  color: #F1FAEE;
}